/*Importar fontes locais*/
/* Fonte Concert One para a logo */
@font-face {
    font-family: 'Concert One';
    src: url('fonts\Concert_One\ConcertOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fonte Roboto para o restante do texto */
@font-face {
    font-family: 'Roboto';
    src: url('fonts\Roboto\Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------------------------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* O contêiner que contém as colunas */
.container {
    display: flex;              
    justify-content: space-between;
    width: 100%;                
    padding: 20px;
    box-sizing: border-box;      
}

/* A coluna da esquerda, onde está o avatar */
.coluna-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

/* Estilo do avatar */
#user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Nome do usuário */
#user-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}


/*Informações dos likes do usuário*/
/* Bloco de curtidas e descurtidas */
.interacoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

/* Estilo das curtidas e descurtidas */
.curtidas-bloco, .descurtidas-bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo dos números de curtidas e descurtidas */
.curtidas-bloco span, .descurtidas-bloco span {
    font-size: 2em;
    font-weight: bold;
}


/* Estilo das imagens de curtidas e descurtidas */
.icon-curtida, .icon-descurtida {
    width: 80px; /* Defina o tamanho adequado para as imagens */
    height: 80px;
    margin-top: 10px; /* Espaçamento entre o número e a imagem */
}

/*--------------------------------------------------------------------------*/


/* A coluna da direita, onde estão os produtos */
.coluna-direita {
    width: 70%;                 /* Define que esta coluna ocupa 70% da largura */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombras para dar um efeito visual */
}

h3 {
    font-size: 1.5em;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.produto {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#comentarios-produto {
    margin-top: 10px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

/* Garantindo que a imagem ocupe 100% da largura do contêiner */
.produto img {
    width: 100%;               /* A imagem ocupará 100% da largura do contêiner */
    height: 300px;              /* Altura da imagem */
    object-fit: cover;         /* Garante que a imagem cubra todo o espaço */
    border-radius: 5px;        /* Borda arredondada para estética */
    margin-top: 10px;          /* Espaço entre o título e a imagem */
}

/*--------------------------------------------------------------------------*/

/* Bloco de Curtidas, Descurtidas e Comentários */
.interacoes-produto {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

/* Estilo para Curtidas e Descurtidas */
.curtidas-descurtidas {
    flex: 1;
    text-align: left;
}


/* Estilo para Comentários */
.comentarios {
    flex: 2;
    text-align: left;
    padding-left: 10px;
}

.comentarios p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}


/* Ajuste para as imagens de Curtir e Descurtir */
/* Aumentando a especificidade */
div.curtidas-descurtidas img.icon-curtir, div.curtidas-descurtidas img.icon-descurtir, div.curtidas-descurtidas img.icon-comentarios {
    width: 30px; /* Tamanho adequado para as imagens */
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}


/* Ajuste no layout das curtidas, descurtidas e comentários */
.curtidas-descurtidas, .comentarios {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaçamento entre o ícone e a contagem */
}

/* Alinhando o último comentário à direita */
.ultimo-comentario {
    flex: 1;
    text-align: right;
    font-size: 0.9em;
    color: #666;
}

.curtidas-descurtidas span .comentarios span  {
    font-size: 1em;
    font-weight: bold;
    color: #333;
}


button.editar, button.excluir {
    background-color: #ffc107;
    margin-right: 10px;
}



/*--------------------------------------------------------------------------*/

/* Modal Login*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    margin: 15% auto;
    border-radius: 5px;
    width: 30%;
    position: relative;
}

/* Estilos para o conteúdo do modal de login */
.login-modal {
    max-width: 500px;           /* Limite de largura */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

.login-campos {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.login-campos input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    box-sizing: border-box;
}

/* Botão de login */
.login-botoes button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    font-size: 1em;
}

.login-botoes button:hover {
    background-color: #0056b3;
}


/* Botão de fechar o modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*--------------------------------------------------------------------------*/


/* Container principal do rodapé */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Estilo para o nome da empresa à esquerda */
.footer-left .company-name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

/* Estilo para centralizar os ícones das redes sociais */
.footer-center {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Espaçamento entre os ícones */
}

.footer-center img {
    width: 30px; /* Tamanho dos ícones */
    height: 30px;
}

/* Estilo para o copyright à direita */
.footer-right {
    font-size: 1em;
    text-align: right;
}

/*--------------------------------------------------------------------------*/


/* Estilos para o conteúdo do modal de comentário */
.comentario-modal {
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comentario-localizacao {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.comentario-localizacao input,
#comentario-texto {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    box-sizing: border-box;
}

#comentario-texto {
    width: 100%;
    resize: vertical;
}

.comentario-botoes button {
    width: 48%; /* Botões lado a lado ocupando metade do espaço cada */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    font-size: 1em;
    transition: background-color 0.3s;
}

.comentario-botoes button:hover {
    background-color: #0056b3;
}